body,
html {
  height: 100%;
}

body {
  background-image: url("./images/pena.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: inherit;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: black;
  justify-content: center;
}

.Title-header {
  font-family: arial;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1%;
  animation: background 20s linear infinite;
  background: linear-gradient(
    90deg,
    rgb(87, 81, 105) 0%,
    rgb(14, 0, 102) 10%,
    rgb(156, 18, 255) 20%,
    rgb(24, 62, 145) 30%,
    rgba(89, 90, 165, 1) 40%,
    rgba(84, 16, 67, 1) 50%,
    rgba(28, 58, 63, 1) 60%,
    rgb(6, 33, 36) 70%,
    rgb(58, 3, 56) 80%,
    rgb(81, 3, 42) 90%,
    rgb(34, 34, 34) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.Title-header > h1 {
  font-size: 140px;
  margin: 0;
  line-height: 80%;
}

.Subtitle-section {
  display: flex;
}
.Subtitle-section > h1 {
  font-size: 148px;
  margin: 0;
  line-height: 80%;
}
.Subtitle-subsection {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.Subtitle-subsection > p {
  font-size: 46px;
  margin: 0;
  line-height: 83%;
}
.Body-container {
  display: flex;
  flex-direction: column;
  margin: 1px 200px 1px;
}

@media (max-width: 500px) {
  .App-header {
    height: 30vh;
  }
  .Title-header > h1 {
    font-size: 60px;
    line-height: 80%;
  }
  .Subtitle-section > h1 {
    font-size: 54px;
    line-height: 80%;
  }
  .Subtitle-subsection > p {
    font-size: 16px;
    line-height: 86%;
  }
  .Body-container {
    margin: 4px 2px 20px;
  }
}

.Container {
  position: relative;
  height: 950px;
}

.Background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Content {
  color: white;
  font-weight: bold;
  /* border: 6px solid #000000; */
  /* background-color: rgba(0, 0, 0, 0.8); */
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  padding: 18px;
}

.Content > h2 {
  font-size: 80px;
}

.Content > p {
  font-size: 50px;
  margin-top: 22px;
  margin-bottom: 22px;
}
